.eventContainer{
    display:flex;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.eventInfo{
    /* margin-bottom: 0; */
}
.eventPic{
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.Dashboard{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.parentContainer:nth-child(odd){
background-color: rgb(163, 150, 150);
}

.eventContainer:nth-child(odd){
    background-color: rgb(162, 159, 159);
}